body {
    font-family: Helvetica, Arial, sans-serif;
}

.main_cont {
    margin: 0;
    position: relative;
}

.big_cont_ {
    padding-bottom: 110px;
    padding-top: 80px;
    background-color:#f0f2f5;
}

.big_cont {
    display: flex;
    flex-direction: row;
}

.small_cont {
    background-color: white;
}

.form_cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    position: relative;
    margin: 0 auto 0;
    padding-top: 75px;
    padding-bottom: 75px;
}

.form_left {
    width: 550px;
    display: inline-block;
    padding-right: 10px;
}

.form_right {
    float: right;
    width: 400px;
}

.form_data {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,20%);
    border-radius: 5px;
}

.reg_cont {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form_register {
    text-align: center;
}

form input {
    border-radius: 5px;
    border: 1px solid #ccd0d5;

    padding: 14px 16px;
    width: 364px;
    font-size: 17px;
}

form div {
    padding: 6px 0;
}

#bnt_sing_in {
    color: white;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
}

#bnt_sing_up {
    color: white;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;

}

#forgot {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.pic {
    padding: 80px 0 16px;
}

#img_f {
    height: 106px;
    margin: -28px;
}

.pic_text {
    margin: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}

.text_below {
    font-size: 14px;
    text-align: center;
    font-weight: normal;
}


ul li, span{
    color: gray;
    text-align: left;
    padding: 0;
    display: inline;
    font-size: 12px;
    padding-right: 15px;
}
